<section class="row" id="articles-section">
  <div class="large-offset-5 large-2 columns">
    <h1>Blog</h1>
    <% if @articles.count == 0 %>
      <p>Sorry, no articles as of yet. Come back soon!</p>
    <% end %>
  </div>

  <% if policy(@articles).create? %>
    <div class="large-12 columns">
      <%= link_to 'New Article', new_article_path, id: 'new-link', remote: true %>
    </div>
  <% end %>
  <% if policy(@articles).create? %>
    <div class="large-12 columns">
      <%= link_to 'My Articles', author_page_path %>
    </div>
  <% end %>

  <%= render @articles %>
</section>
