<h1>Welcome to Philip Q. Nguyen's homepage</h1>
<p>Welcome to my page. I'm a web app developer, studying at Codefellows. In my previous life, I have had extensive experience while getting my MBA in Japan, and as a supply chain analyst. I know this site is empty right now, but it will be updated pretty soon.</p>
