<footer class="row">
  <div class="large-12 columns">
    <hr/>
    <div class="row">
      <div class="large-6 columns">
        <p>© Copyright 2014 by Philip Q Nguyen</p>
      </div>
      <div class="large-6 columns">
        <ul class="inline-list right">
          <li><%= link_to "Home", root_path %></li>
          <li><%= link_to "Blog", articles_path %></li>
        </ul>
      </div>
    </div>
  </div>
</footer>
